.admin-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}

.admin-left-section {
  width: 20%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.link-admin {
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 10px;
  margin: 20px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
}

.admin-right-section {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .admin-left-section {
    width: 100%;
    border-right: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .admin-right-section {
    width: 100%;
  }

  .admin-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
  }

  .link-admin {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 10px;
    margin: 5px 0;
    width: auto;
  }
}
